allure-pytest
allure-python-commons
configparser
faker
flaky
jose
oauthlib
prospector
py
pylint
pytest
pytest-repeat
pytest-rerunfailures
pytest-xdist
python-jose[cryptography]
pytz
PyYaml
requests
requests_oauthlib
xmltodict